$main-font-color: #2665C4;
<<<<<<< HEAD
$main-font-size: 20px;
$header-font-size: 25px;
$logoGreen: green;
=======
$main-font-size: 15px;
$body-font-size: 12px;
$header-font-size: 22px;
$logoGreen: rgb(3, 194, 3);
>>>>>>> cssgrid
