@import 'center.scss';
@import 'fonts.scss';

#container {
    display: grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    grid-template-rows: 10% 5% auto;
    padding: 10px;
}

.grid-header {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.nav {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $main-font-color;
    border-radius: 5px;
    padding: 55px;
    cursor: pointer;
    margin-bottom: 20px;
}

.content {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: white;
    border-radius: 5px;
    padding: 55px;
    a:visited {
        color: $main-font-color;
    }
    
    a:hover {
        color: $logoGreen;
    }
    
    a:active {
        color: $main-font-color;
    }
}

.request-box {
    grid-column-start: 5;
    grid-column-end: span col5-end;
    grid-row-start: 1;
    grid-row-end: row1-end;
}

.headline {
    font-family: sans-serif;
    color: $main-font-color;
    font-size: $header-font-size;
}

.subheadline {
    font-family: sans-serif;
    color: $main-font-color;
    font-size: $main-font-size;
}

.text {
    font-family: sans-serif;
    color: $main-font-color;
    font-size: $body-font-size;
}

.list {
    font-family: sans-serif;
    color: $main-font-color;
    font-size: $main-font-size;
}

a {
    font-family: sans-serif;
    color: $main-font-color;
}

a:visited {
    font-family: sans-serif;
    color:white;
}

a:hover {
    font-family: sans-serif;
    color: $logoGreen;
}

a:active {
    font-family: sans-serif;
    color: $main-font-color;
}