@import 'center.scss';
@import 'fonts.scss';

#container {
    padding: 10px;
}

#home-container {
    clear: both;
}

#request-box {
    position: absolute;
    right: 10px;
    top: 10px;
}

.headline {
    color: $main-font-color;
    font-size: $header-font-size;
}

.subheadline {
    @include center('column');
    color: $main-font-color;
    font-size: $main-font-size;
}
