body, html {
    height: 100%;
    margin: 0;
  }

.bg {
    /* The image used */
    background-image: url("clock.jpg");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;    
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}