.search-result {
    position: absolute;
    z-index: +10;
    /*
    border-right: .5px solid #2665C4;
    border-bottom: .5px solid #2665C4;
    border-left: .5px solid #2665C4;
    */
    border-radius: 3px;
    margin-left: 20px;
    padding:5px;
    background-color: white; 
}

.lsr {
    font-size: 12px;
}