body {
    font-family: serif;
}

#nav-pane {
    position: absolute;
    z-index: +1;
    top: 0;
    right: 0;
    width: 250px;
    margin: 5px;
}

.nav {
    color: #2665C4;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

#header {
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
    color: #2665C4;
}

#body {
    font-size: 15px;
    text-align: center;
    color: #2665C4;
}